In [5]:
#userinput-0
a=10
b=100
print(a)
print(b)

10
100

In [3]:
b='10'
print(type(b))

<class 'str'>

In [1]:
a=input("enter your name")

enter your name ak

In [3]:
b=int(input("enter your name"))

enter your name 12

In [5]:
c=float(input("enter the number"))

enter the number 10.35

In [6]:

a=10
b=20
print(a+b)
print(a*b)
print(a-b)
print(a/b)

30
200
-10
0.5

In [10]:
#userinput-1
a=int(input("enter thne num"))
b=int(input("enter the number"))
c=int(input("enter the number"))
d=a+b+c
print(d)

enter thne num 10
enter the number 10
enter the number 10

30

In [12]:
#userinput-2
a=input("enter the number")
print(a)

enter the number 20

20

In [14]:
a=int(input("enter the number"))
print(a)

enter the number 10

10

In [16]:
a=float(input("enter the number"))
print(a)

enter the number 11.9867

11.9867

In [22]:
a=input("enter the number")
b=int(input("enter the number"))
c=float(input("enter the number"))

d=int(a);
e=int(b);
f=int(c);

g=d+e+f
print(g)
print(type(g))

enter the number 10
enter the number 10
enter the number 10

30
<class 'int'>

In [20]:
a=10
b=20
c=a+b
print(c)

30

In [21]:
a="10"
b="20"
c=a+b
print(c)

1020

In [25]:
a=input("enter a number")
b=int(input("enter a number"))
c=float(input("enter a number"))

d=int(a)
e=int(b)
f=int(c)
g=d+e+f
print(g)

enter a number 10
enter a number 20
enter a number 10.90

40

In [27]:
a=input("enter a number")
b=int(input("enter a number"))
c=float(input("enter a number"))

a=int(a)
b=int(b)
c=int(c)
print(type(a))

enter a number 10
enter a number 10
enter a number 10

<class 'int'>

In [36]:
a=10
b=20
sum=a+b
sum = sum+10
sum

40

In [41]:
sum += 10
sum

90

In [47]:
#Arithematic operatora #basic mathmetical approach
a=int(input("enter a no"))
b=int (input("enter a no"))
c=a+b
print("The sum of two number is :",c)

enter a no 12
enter a no 12

The sum of two number is : 24

In [48]:
a=int(input("enter a no"))
b=int(input("enter a no"))
c=a*b
print("the multiplication of two no is :",c)

enter a no 12
enter a no 12

the multiplication of two no is : 144

In [49]:
mul = 20
mul = mul *2
mul

40

In [50]:
mul = 20
mul *= 2
mul

40

In [51]:
a,b,c= 10,20,30
print(a,b,c)

10 20 30

In [52]:
a=int(input("enter a no"))
b=int(input("enter a no"))
c=a-b
print("the difference of two number is :",c)

enter a no 23
enter a no 11

the difference of two number is : 12

In [53]:
a=int(input("enter a number"))
b=int(input("enter a mumber"))
c=a/b
print("the divide of two number is :",c)

enter a number 50
enter a mumber 10

the divide of two number is : 5.0

In [57]:
a=int(input("enter a number"))
b=int(input("enter a mumber"))
c=a//b # floor division
print("the floor division of two number is :",c)

enter a number 7
enter a mumber 3

the floor division of two number is : 2

In [58]:
a=int(input("enter a number"))
b=int(input("enter a mumber"))
c=a%b #moudules
print("the reminder of two number is :",c)

enter a number 9
enter a mumber 2

the reminder of two number is : 1

In [65]:
#comparision operator (only works on numerical not on string)
a = 20
b = 50
#a>b
#a<b
#a>=b
#a<=b
#a!=b
#a==b
#a<>b(this is also a not equal to sign but not work in python)

False

In [66]:
#question 1
a=int(input("enter a no"))
b=int(input("enter a no"))
c=a+b
print(c)

enter a no 12
enter a no 12

24

In [67]:
#question 2
a=int(input("enter a no"))
z=int(input("enter the no"))
c=a/z
print(c)

enter a no 12
enter the no 10

1.2

In [68]:
#question 3
a=int(input("enter a no"))
print(type(a))

enter a no 12

<class 'int'>

In [70]:
#question 4
a = int(34)
b = int(80)
a>b

False

In [73]:
#question 5
a=int(input("enter a no"))
b=int(input("enter the no"))
c=(a+b)/2
print(c)

enter a no 12
enter the no 13

12.5

In [74]:
#question 6 
a=int(input("enter a no"))
b=a**2
#b=a*a
print(b)

enter a no 21

441

In [79]:
#membership operator - in and not in
# boolean- true and false
# works on multiple element
a=[1,2,3,4]
print(3 in a)
print(5 not in a)

True
True

In [429]:
# list
# every element is comma saparated
# list always gets create in sqaure bracket 
# hetrogenius in nature(we can store multiple types of data types)
# mutable(changebale) in nature
# ordered in nature
# indexing always start from 0
# unorder means element cannot be enter in middle
'''a=["a",10.20]
print(a)
print(type(a))'''

#list methods
a=[20,30,14,56,78,32,90]

#sort 
'''a.sort()
a'''
# sort reverse
a.reverse()
a
# index  a.index

[90, 32, 78, 56, 14, 30, 20]

In [ ]:
a=[10,20,30]
a[1]=23

b = "cybrom"
b[2] ="a"
# string does not support assigning

In [434]:
a=int(input("enter a number"))
b=[]
b.append(a)
print(b)

enter a number 13

[13]

In [76]:
a[0] = 12
print(a)

[12, 10.2]

In [77]:
a.append(13)
print(a)

[12, 10.2, 13]

In [80]:
# identity operator(is, is not) bollean true and false 
# use to identify if a is like b in structure or not 
# works only in signle element
a = 13
b = 12
a is not b

True

In [82]:
#simple interest question(done by own)
a=int(input("enter p"))
b=int(input("enter r"))
c=int(input("enter t"))
d=(a*b*c)/100
print(d)

enter p 12
enter r 12
enter t 12

17.28

In [ ]:
#conditional statement
# 1- if 
# 2- else
# 3-elif
# :(identitation)

In [17]:
# even or odd 
n=int(input("enter a number"))
if n%2==0:
    print("even number")
else:
    print("odd number")

enter a number 11

odd number

In [90]:
# +ve,_ve,zero
n = int(input("enter a number"))
if(n>0):
      print("positive")
elif(n<0):
      print("negative")
else:
       print("zero")

enter a number 12

positive

In [29]:
#grade calculater
num=int(input("enter your marks"))
if num>= 90 and num<= 100:
    print("A")
elif num>= 80 and num<=89:
    print("B")
elif num>= 70 and num<= 79:
    print("C")
elif num>= 60 and num<= 69:
    print("D")
else:
    print("F")

enter your marks 90

A

In [20]:
# divisibility by 5 and 7
num=int(input("enter a number"))
if num%5==0 and num%7==0:
    print("divisible by 5 and 7")
else:
    print("not")

enter a number 2

not

In [22]:
#checking for voting age
age=int(input("enter your age"))
if age>=18:
    print("eligible to vote")
else:
    print("not")

enter your age 11

not

In [24]:
#Write a Python program that checks the temperature and provides a message based on the temperature value.
#If the temperature is above 27 degrees Celsius, it should print "It's a hot day." If the temperature is 27 degrees or below, 
#it should print "It's not a hot day."
temp=float(input("enter the temperature in dgree celsius"))
if temp>27:
    print("its a hot day")
else:
    print("not a hot day")

enter the temperature in dgree celsius 112

its a hot day

In [28]:
#Write a Python program that classifies a person's age into one of the following categories: "Infant," "Child," "Teenager," "Adult," or 
#"Senior." The program should ask the user for their age and then display the corresponding classification based on the following
#guidelines:  Infants: 0-2 years old
   #Children: 3-12 years old
   #Teenagers: 13-19 years old
    #Adults: 20-64 years old
    #eniors: 65 years old and older
age=int(input("enter your age"))
if age>=0 and age<=2:
    print("infants")
elif age>=3 and age<=12:
    print("children")
elif age>=13 and age<=19:
    print("teenager")
elif age>=20 and age<=64:
    print("adults")
else:
    print("eniors")

enter your age 3888

eniors

In [4]:

a=int(input("enter the available amount"))
b=int(input("enter the withdrawal amount"))

if a<b:
    print("insuffciant fund")
elif a>=b:
    print("amount can be withdraw")
    print("Amount left is :",a-b)

enter the available amount 1000
enter the withdrawal amount 900

amount can be withdraw
Amount left is : 100

In [9]:
#student percentage calculator
a=int(input("enter the marks of maths"))
b=int(input("enter the marks of science"))
c=int(input("enter the marks of social science"))
d=int(input("enter the marks of hindi"))
e=int(input("enter the marks of english"))

percentage=(a+b+c+d+e)*100/500
print(percentage)

enter the marks of maths 90
enter the marks of science 90
enter the marks of social science 90
enter the marks of hindi 90
enter the marks of english 90

90.0

In [16]:
#type of triangle
a=int(input("enter the first side of triangle"))
b=int(input("enter the second side of triangle"))
c=int(input("enter the third side of triangle"))

if a==b and a==c:
    print("equilateral traingle")
elif a==b or b==c:
    print("isosceles triangle")
else:
    print("scalene triangle")

enter the first side of triangle 10
enter the second side of triangle 10
enter the third side of triangle 7

isosceles triangle

In [23]:
#simple calculater
a=float(input("enter first number"))
operator=input("enter a character")
b=float(input("enter second number"))

if operator == "+":
    print("result",a+b)
elif operator == "-":
    print("result",a-b)
elif operator == "*":
    print("result",a*b)
elif operator == "/":
    print("result",a/b)
else:
    print("result",a%b)

enter first number 12
enter a character *
enter second number 12

result 144.0

In [119]:
"""Write a program to calculate electricity bill based on units:
0â€“100 units â†’ â‚¹5/unit
101â€“200 â†’ â‚¹7/unit
201â€“300 â†’ â‚¹10/unit
Above 300 â†’ â‚¹15/unit
Also add â‚¹100 fixed charge."""

unit=float(input("enter units"))

if unit>0 and unit<=100:
    print("your bill is :",(unit*5)+100)
elif unit>100 and unit<=200:
    print("your bill is :",100*5+(unit-100)*7+100)
elif unit>200 and unit<=300:
    print("your bill is :",100*5+100*7+(unit-200)*10+100)
else:
    print("your bill is :",100*5+100*7+100*10+(unit-300)*15+100)

enter units 12

your bill is : 160.0

In [48]:
age=int(input("enter your age"))
salary=float(input("enter your salary"))
credit_score=int(input("enter your credit score"))

if age>=21 and age<=60:
    if salary>25000:
        if credit_score>=700:
            print("eligible to take loan")
        else:
            print("credit score is too less")
    else:
        print("salary is too less") 
else:
    print("age is too less")

enter your age 11
enter your salary 100000
enter your credit score 899

age is too less

In [112]:
# Number in Range but Not Multiples
#Check if a number is between 100 and 999 and is not divisible by 2, 3, or 5.
#ðŸ‘‰ Output: "Valid Number" or "Invalid Number"

num=int(input("enter a number"))
if (num>=100 and num<=999) and (num%2!=0 and num%3!=0 and num%5!=0):
    print("Valid number")
else:
    print("Invalid number")

enter a number 101

Valid number

In [114]:
#Exam Pass/Fail Criteria
#Take marks of 5 subjects. A student:
#Passes if all marks â‰¥ 40 and average â‰¥ 50
#Else fails
a=int(input("enter your marks in maths"))
b=int(input("enter your marks in eng"))
c=int(input("enter your marks in hindi"))
d=int(input("enter your marks in science"))
e=int(input("enter your marks in social"))

sum=a+b+c+d+e
avg=sum/5
if (a>=40 and b>=40 and c>=40 and d>=40 and e>=40) and (avg>=50):
    print("pass")
else:
    print("fail")

enter your marks in maths 10
enter your marks in eng 29
enter your marks in hindi 15
enter your marks in science 13
enter your marks in social 14

fail

In [123]:
age=int(input("enter your age")) 
time=int(input("enter what time it is(am/pm)")) 
if age<12: 
    price=100 
elif age>=60: 
    price=80 
else: 
    price=150

if time>18 and time<=24: 
    price-=price*0.10

print(price)

enter your age 21
enter what time it is(am/pm) 19

135.0

In [ ]:
# Ends with 7 -  num % 10 == 7 (% 10 will alwys give the last element and equating it with 7 will check if the last number is 7 or not)

In [49]:
# indexing 
a=[10,20,30,40,[50,60,70]]
print(a[4][2])

70

In [51]:
a=[10,20,30,40,[50,60,70,200,[45,55,65,["A","B","c"]]]]
# print B
print(a[4])

[50, 60, 70, 200, [45, 55, 65, ['A', 'B', 'c']]]

In [52]:
print(a[4][4])

[45, 55, 65, ['A', 'B', 'c']]

In [53]:
print(a[4][4][3])

['A', 'B', 'c']

In [54]:
print(a[4][4][3][1])

B

In [ ]:
# positive indexing that we studied till now

In [57]:
#negative indexing
a=[10,20,30,40,[50,60,70,200,[45,55,65,["A","B","c"]]]]
print(a[-1])

[50, 60, 70, 200, [45, 55, 65, ['A', 'B', 'c']]]

In [59]:
print(a[-1][-2])

200

In [60]:
print(a[-1])

[50, 60, 70, 200, [45, 55, 65, ['A', 'B', 'c']]]

In [61]:
print(a[-1][-1])

[45, 55, 65, ['A', 'B', 'c']]

In [62]:
print(a[-1][-1][-4])

45

In [66]:
print(a[-1][-1][-1][-2])

B

In [71]:
# questions on indexing
#Print the first and last character of the string "Python" using indexing.
a="python"
print(a[0])
print(a[5])

p
n

In [72]:
#Print "yth" from the string "Python" using slice indexing.
a="python"
print(a[1:4])

yth

In [83]:
#Print every 2nd character of the string "indexing".
a="indexing"
print(a[0:9:2])

idxn

In [87]:
#Print the last 3 characters of the string "Programming".
a="Programming"
print(a[-3:])
#or
print(a[8:11])

ing
ing

In [88]:
#Access the 3rd element of the list ['a', 'b', 'c', 'd'].
a=['a', 'b', 'c', 'd']
print(a[2])

c

In [92]:
# From the list [0,1,2,3,4,5,6,7,8,9], extract [2, 4, 6, 8] using slicing.
a=[0,1,2,3,4,5,6,7,8,9]
print(a[2:9:2])

[2, 4, 6, 8]

In [136]:
#Replace the element 7 with 'seven'.
lst = [0, 1, [2, 3, [4, 5, [6, 7]]]]
lst[2][2][2][1] = "seven"
lst

[0, 1, [2, 3, [4, 5, [6, 'seven']]]]

In [67]:
# slicing(positive slicing)
a=[10,20,30,40,50,60,70,80,90,100]
# format:-starting position(inclusive),ending position(not inclusive),stepsize(if given two it will jump one value)
print(a[0:8])

[10, 20, 30, 40, 50, 60, 70, 80]

In [68]:
print(a[0:8:2])

[10, 30, 50, 70]

In [69]:
print(a[1:6:3])

[20, 50]

In [ ]:
#negative slicing (we have to always give stepsize because it act as direction as well by default its always +1)

In [137]:
a=[10,20,30,40,50,60]
print(a[-4:-1])

[30, 40, 50]

In [138]:
print(a[-1:-4])

[]

In [139]:
print(a[4:1:-1])

[50, 40, 30]

In [140]:
#REVERSE
print(a[::-1])

[60, 50, 40, 30, 20, 10]

In [147]:
#nested if else questions
# positive zero or negative and if positive so check even or odd 
a=int(input("enter a number"))

if a>0:
    if a%2==0:
        print("even")
    else:
        print("odd")
        print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

enter a number 11

odd
positive

In [149]:
# wap to check a three digit number is divisible by both 3 and 7 if number exceed three digits it shows number is u difined
num=int(input("enter a number"))

if num>99 and num<=999:
    if num%3==0 and num%7==0:
        print("number is in range")
        print("number is divisible by both 3 and 7")
else:
    print("number is undifined")

enter a number 210

number is in range
number is divvisible by both 3 and 7

In [155]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if a>b and a>c:
    print("a is greatest")
elif b>a and b>c:
    print("b is greatest")
elif c>a and c>b:
    print("c is greatest")
else:
    if a==b or b==c or c==a  or a==b==c:
        print("its a tie")

enter a number 20
enter a number 10
enter a number 20

its a tie

In [164]:
# ATM Withdrawal Validator
#Ask the user to enter:
#Card type: debit or credit
#Amount to withdraw
#Rules:
#If card is debit:
#Max limit is â‚¹20,000
#If amount â‰¤ 20000 â†’ print "Transaction Approved"
#Else â†’ print "Limit Exceeded"
#If card is credit:
#Max limit is â‚¹50,000
#If amount â‰¤ 50000 â†’ print "Transaction Approved"
#Else â†’ print "Limit Exceeded"
#Else â†’ print "Invalid Card Type"

card=input("enter the type of card (debit/credit)")
amount=int(input("enter the amount to be withdrawan"))
      
if card=="debit":
    if amount<=20000:
        print("Tranaction approved")
    else:
        print("Limit exceed")
elif card=="credit":
    if amount<=50000:
        print("Tranaction approved")
    else:
        print("Limit exceed")
else:
    print("invalid card type")

enter the type of card (debit/credit) credit
enter the amount to be withdrawan 5000000

Limit exceed

In [178]:
# Electricity Bill Calculator
#Input the number of units consumed.
#If units â‰¤ 100 â†’ â‚¹1/unit
#If 101â€“300:
#First 100 â†’ â‚¹1/unit
#Remaining â†’ â‚¹2/unit
#If units > 300:
#First 100 â†’ â‚¹1/unit
#Next 200 â†’ â‚¹2/unit
#Remaining â†’ â‚¹3/unit
#Finally, print the total bill 
unit=int(input("enter the units"))
if unit<=100:
    print("your bill is :",unit*1)
elif unit>100 and unit<=300:
    print("your bill is :",100*1+(unit-100)*2)
else:
    if unit>300:
        print("your bill is :",100*1+200*2+(unit-300)*3)

enter the units 475

your bill is : 1025

In [218]:
#Q1. Employee Salary Tax Calculator
#Take the following inputs:
#Employee gender (male / female)
#Age
#Annual salary
#Conditions:
#If male:
#If age < 60:
#If salary > â‚¹10,00,000 â†’ 30% tax
#If salary > â‚¹5,00,000 â†’ 20% tax
#Else â†’ 10% tax
#Else â†’ 5% tax
#If female:
#If salary > â‚¹7,00,000 â†’ 25% tax
#Else â†’ 10% tax
#Print the tax amount and net salary.

gender=input("enter your gender(male/female)")
age=int(input("enter your age"))
annual_salary=float(input("enter your salary"))
tax_amount=0
net_salary=0
if gender=="male":
    if age<60:
        if annual_salary>1000000:
            tax_amount=annual_salary*0.30
            net_salary=annual_salary-tax_amount
        else:
            tax_amount=annual_salary*0.10
            net_salary=annual_salary-tax_amount
else:
        tax_amount=annual_salary*0.5
        net_salary=annual_salary-tax_amount 
if gender=="female": 
    if annual_salary>700000:
        tax_amount=annual_salary*0.25
        net_salary=annual_salary-tax_amount 
else:
  tax_amount=annual_salary*0.10
  net_salary=annual_salary-tax_amount 
print("your tax amount is :",tax_amount)
print("your net slary is :",net_salary)

enter your gender(male/female) male
enter your age 44
enter your salary 1000000

your tax amount is : 100000.0
your net slary is : 900000.0

In [275]:
 #Online Exam Result Evaluator
#Inputs:
#Marks in 3 sections: Aptitude, Technical, English
#Conditions:
#Each section must be â‰¥ 40
#Overall average must be â‰¥ 60
#If Aptitude â‰¥ 90 â†’ â€œExcellent Logical Skillsâ€
#If Technical â‰¥ 90 â†’ â€œExcellent Coding Skillsâ€

marks1=int(input("enter marks in aptitude"))
marks2=int(input("enter your marks in tecchnical"))
marks3=int(input("enter your marks in english"))
average=(marks1+marks2+marks3)/3
if marks1>=40 and marks2>=40 and marks3>=40:
    if average>=60:
        if marks1>=90:
            print("Excellent Logical Skills")
        else:
            if marks2>90:
                print("excellente in coding")

enter marks in aptitude 56
enter your marks in tecchnical 66
enter your marks in english 78

In [280]:
# University Admission System
#Input:
#Stream applied (Science, Commerce, Arts)
#12th board marks
#Entrance exam score

#Rules:
#For Science:
#Board marks â‰¥ 80 and Entrance â‰¥ 70 â†’ Admit
#Else â†’ Reject
#For Commerce:
#Board marks â‰¥ 75 and Entrance â‰¥ 60 â†’ Admit
#For Arts:
#Only Board marks â‰¥ 65 â†’ Admit
#Any invalid stream â†’ Error

stream=input("enter your stream (Science, Commerce, Arts)")
marks=float(input("enter your marks in boards"))
Entrance_exam=float(input("enter your marks in enterance exam"))
if stream=="science":
    if marks>=80:
        if Entrance_exam>=70:
            print("admit")
        else:
            print("reject")
elif stream=="commerce":
    if marks>=75:
        if Entrance_exam>=60:
            print("admit")
        else:
            print("reject")
elif stream=="arts":
    if marks>=65:
        print("admit")

else:
    print("invalid stream")

enter your stream (Science, Commerce, Arts) science
enter your marks in boards 88
enter your marks in enterance exam 74

admit

In [343]:
#Flight Check-in Kiosk System
#Input:
#Has Passport? (yes/no)
#Has Visa? (yes/no)
#Temperature in Celsius

#Logic:
#If passport = yes:
#If visa = yes:
#If temperature â‰¤ 37.5 â†’ "Allowed to Check-in"
#Else â†’ "Denied due to high temperature"
#Else â†’ "Visa Required"
#Else â†’ "Passport Required"

passport=input("do you have a passport (yes/no)")
visa=input("do you have a visa (yes/no)")
Temperature=float(input("whats your temperature"))

if passport=="yes":
    if visa=="yes":
        if Temperature<=37.5:
            print("allowed to check in")
        else:
            print("Denied due to high temperature")
    else:
        print("visa required")
else:
    print("passport required")

do you have a passport (yes/no) yes
do you have a visa (yes/no) yes
whats your temperature 22

allowed to check in

In [53]:
#wap to check if starting with A or starting with vowel or consonant
a=input("enter a string")
if a.isalpha():
    if a.upper :
        if a[0]=="A":
            print("starting with A")
        elif a.lower():
            if a[0] in 'aeiou':
                print("starting with vowel")
            else:
                print("starting with consonants")

enter a string d

starting with consonants

In [423]:
#tea and coffee 
beverage=input("enter what would you like to drink tea or coffee")

if beverage=="tea":
    ask=input("with sugar or without sugar")
    if ask=="sugar":
        print("here is your tea with sugar")
    else:
        print("here is your tea without sugar")
elif beverage=="coffee":
    know=input("milk or without milk")
    if know=="milk":
        print("hre is your coffee with milk")
    else:
        print("here is your coffee without milk")
else:
    print("beverage wrong entered")

enter what would you like to drink tea or coffee tea
with sugar or without sugar sugar

here is your coffee with sugar

In [403]:
#Layered Vowel Game
#Take a 3-letter word. If:
#All are vowels â†’ â€œTriple Vowelâ€
#Starts and ends with vowels â†’ â€œSandwich Vowelâ€
#Only middle is vowel â†’ â€œCore Vowelâ€
#Else â†’ â€œMixedâ€
a=input("enter a 3 letter word")
if a.isalpha():
    if len(a)==3:
        if a.lower() in 'aeiou':
            print("Triple Vowel")
        elif a[0] and a[2] in 'aeiou':
            print("sandwich vowel")
        elif a[1] in 'aeiou':
            print("core vowel")
        else:
            print("mixed")

enter a 3 letter word klq

mixed

In [418]:
# wap to check a input of three digit number if it is a pallindrome check even or not
num=input("enter a four digit number")
num_int = int(num)
if num_int>999 and num_int<=9999:
    if num[::] == num[::-1]:
        print("pallindrome")
    else:
        print("not a pallindrome")
        if num_int%2==0:
            print("the number is even")
        else:
            print("the number is odd.")
else:
    print("the number is not a four digit number")

enter a four digit number 1234

not a pallindrome
the number is even

In [422]:
#leap year
year=int(input("enter a year"))
if (year%4==0 and year % 100 !=0) or year%400==0:
    print("leap year")
else:
    print("not a leap year")

enter a year 1900

not a leap year

In [435]:
#built in dattype

#string
#int
#float
#boolean
#list[],tuple(),set{},dictionary{} (primative data types)


# tuple- collection of element 
# written in paranthesis ()
# comma seperated every element 
# hetrogenius in nature
# indexed(ordered) in nature
# immutuable(unchangeable) in nature
a=(1,2,3)
b=("A",12,13)
c = a[0]
a[0] = 20 #impossible

TypeError: 'tuple' object does not support item assignment

In [436]:
#dictionary- ordered collection of element
# denoted by {} key:value pair
#unindexed
#hetrogenius
#mutuable

d={"name":["amit","aryan","ajay"],"subject":"python","batch":"p=60"}
print(d)
print(d["name"][1])
print(d["subject"])

{'name': ['amit', 'aryan', 'ajay'], 'subject': 'python', 'batch': 'p=60'}
aryan
python

In [ ]:
di={"name":["amit","aryan","deepesh"],"subject":["python","sql"],"batch":["p-60","p-98"]}
print(di)

In [438]:
#set- collection of element,can never be empty
# denoted  by {} with comma seperated
#unindexed
#unordered
#mutuable
#hetrogenius
#no duplicate values is allowed
s={10,10.5,"hello","cybrom"}
print(s)
s.add("hello")
print(s)

{10, 10.5, 'cybrom', 'hello'}
{10, 10.5, 'cybrom', 'hello'}

In [441]:
# for loop
for i in range(6):
   # print(i)
    print(i,end = ",")

0,1,2,3,4,5,

In [453]:
# Print numbers from 1 to 10
for i in range(1,11):
    #print(i)
     print(i,end = ",")

1/2/3/4/5/6/7/8/9/10/

In [459]:
#  Print all even numbers from 2 to 20
for i in range(2,21,2):
    print(i,end=",")

2,4,6,8,10,12,14,16,18,20,

In [462]:
# Print the first 5 multiples of 3
'''for i in range(3,16,3):
    print(i)'''
    #OR
for i in range(1,6):
    print(i*3,end=",")

3,6,9,12,15,

In [474]:
#Print all numbers from 10 to 1 in reverse
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [477]:
# Print the square of numbers from 1 to 5
for i in range(1,6):
    print(i*i)

1
4
9
16
25

In [480]:
# print the elements of a list
my_list=[1,2,3,4,5]
for item in my_list:
    print(item,end=",")

1,2,3,4,5,

In [486]:
# print hello 4 times
for i in range(4):
    print("hello")

hello
hello
hello
hello

In [489]:
# Print first 10 odd numbers
for i in range (1,20,2):
    print(i,end=",")

1,3,5,7,9,11,13,15,17,19,

In [490]:
#Print numbers from 1 to 5 along with their squares
for i in range (1,6):
    print(i,i*i)

1 1
2 4
3 9
4 16
5 25

In [491]:
# Print each letter of a string
name="aman"
for letter in name:
    print(letter)

a
m
a
n

In [492]:
# Print numbers divisible by 3 from 1 to 30
for i in range(1,31):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [494]:
# Print multiplication table of any number given by user
number=int(input("enter a number"))
for i in range(1,11):
    print(i*number,end=",")

enter a number 11

11,22,33,44,55,66,77,88,99,110,

In [496]:
n=20
for i in range (n,-5,-2):
    print(i,end=",")

20,18,16,14,12,10,8,6,4,2,0,-2,-4,

In [513]:
#wap to check from1-20 which are evena and which are odd
for i in range(1,21,):
    if i%2==0:
        print(i,"is even")
    else:
        print(i,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

In [543]:
#wap for sum of first n natural number
num=int(input("enter a number"))
sum = 0
for i in range(1,num+1):
    sum=sum+i
    print(sum)

enter a number 10

1
3
6
10
15
21
28
36
45
55

In [552]:

n=int(input("enter a number"))
count=0
for i in range (1,n+1):
    if i%2==0:
        count=count+1
print(count)

enter a number 700

350

In [557]:
# same question on above but on list
a=[1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20]
count=0
for i in (a):
    if i%2==0:
        count +=1
print(count)

9

In [561]:
#Count how many numbers are greater than 10
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,141,51,544,5,784,974,87454,8754,7974,7,]
count=0
for i in (a):
    if i>10:
        count +=1
print(count)

11

In [72]:
#Create a new list with only even numbers
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,141,51,544,5,784,974,87454,8754,7974,7,]
even=[]
for i in a:
    if i%2==0:
        even.append(i) 
print(even)

[2, 4, 6, 8, 10, 12, 544, 784, 974, 87454, 8754, 7974]

In [5]:
#Count how many strings are longer than 3 letters
a=['sun','heat','car','hot','land','hi']
count=0
for words in a:
    if len(words)>3:
        count += 1
print(count)

2

In [74]:
#Create a new list of squares of numbers
a=[1,25,36,55,64,845,851,8451,84,64,81]
square = []
for i in a:
    square.append(i*2)
print(square)

[2, 50, 72, 110, 128, 1690, 1702, 16902, 168, 128, 162]

In [14]:
#Count how many numbers are divisible by 5
a=[10,15,18,20,35,30,64,97,65,24,77,88,99,44,99,56,55]
count=0
for i in a:
    if i%5==0:
        count +=1
print(count)

7

In [16]:
#Print each vowel in a string
text="alpha"
for ch in text:
    if ch in 'aeiou':
        print(ch)

a
a

In [32]:
#Print names that start with 'a'
a=['sun','heat','car','hot','land','hi','apple','air']
for i in a:
    if i[0]=="a":
        print(i)

apple
air

In [39]:
#Count how many vowels are in the string "python programming" using a for loop.
a="python programming"
count=0
for i in a:
    if i in 'aeiou':
        count += 1
print(count)

4

In [40]:
#Print all numbers divisible by 3 but not by 5 from 1 to 50
for i in range(1,51):
    if i%3==0 and i%5!=0:
        print(i)

3
6
9
12
18
21
24
27
33
36
39
42
48

In [58]:
 #From a dictionary of marks, print only the names of students who scored above 75
Dictionary= {"Amaan": 90, "Tina": 60, "Raj": 78, "Ali": 50}
for i in Dictionary:
    if Dictionary[i]>75:
        print(i)

Amaan
Raj

In [60]:
# Find the sum of all even numbers from 100 to 200 using range()
sum=0
for i in range(100,201):
    if i%2==0:
        sum += i
print(sum)

7650

In [87]:
#wap to print the sum and count of first n even and odd number 
a=int(input("enter a number"))
sum_of_even=0
sum_of_odd=0
count_of_even=0
count_of_odd=0
for i in range (1,a+1):
    if i%2==0:
        sum_of_even = sum_of_even+i
        count_of_even +=1
    else:
        sum_of_odd=sum_of_odd+i
        count_of_odd +=1
print("sum of even is",sum_of_even)
print("sum of odd is",sum_of_odd)
print("count of even is",count_of_even)
print("count of odd is",count_of_odd)

enter a number 10

sum of even is 30
sum of odd is 25
count of even is 5
count of odd is 5

In [93]:
#factorail 
a=int(input("enter a number"))
factorial = 1
for i in range (1,a+1):
    factorial *=i
print(factorial)

enter a number 5

120

In [ ]:
a=int(input("enter a number"))
factorial=1
for i in range(1,a+1):
    factorial *=i
print(factorial)

enter a number 59416521588791584

In [ ]:
#fibonachi series
a=0
b=1
n=int(input("enter a number"))
print(a,b,end=" ")
for i in range (2,n):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

In [133]:
#Python program to count the total number of digits in a number.
num=12
int_num=str(num)
count=0
for i in int_num:
    count +=1
print(count)

2

In [191]:
#Python program that accepts a string and calculates the number of digits and letters.
a=input("enter something")
count_digit=0
count_letters=0
for i in a:
    if i.isdigit():
        count_digit +=1
    else:
        count_letters +=1
print(count_digit)
print(count_letters)

enter something 123tanish

3
6

In [194]:
#wap to count the vowels in a given string "hello world"
a="hello world"
count=0
for i in a:
    if i in 'aeiou':
        count +=1
print(count)

3

In [198]:
#wap to count no of digit,alphabet and special character
a=input("enter something")
count_digit=0
count_alpha=0
count_special=0
for i in a:
    if i.isdigit():
        count_digit +=1
    elif i.isalpha():
        count_alpha +=1
    else:
        count_special +=1
print("count of digit is",count_digit)
print("count of alpha is",count_alpha)
print("count of special is",count_special)

enter something aryan@123

count of digit is 3
count of alpha is 5
count of special is 1

In [261]:
#wap to count special character vowel and consonant
a="welcome to a city@#$"
vowels = "aeiouAEIOU"
s_ch = "@#$%^&* "
count_special=0
count_vowel=0
count_consonant=0
for i in a:
    if i in vowels:
        count_vowel +=1
    elif i in s_ch:
        count_special +=1
    else:
        count_consonant +=1
print("count of vowel is",count_vowel)
print("count of consonant is",count_consonant)
print("count of special is",count_special)

count of vowel is 6
count of consonant is 8
count of special is 6

In [ ]:
 #prime number (range is from 2,n as if n+1 then almost every element would divide ut by it self ex if 7 and n+1 goes to 7 so 7/7=1)
n=int(input("enter a number"))
if n==0 or n==1:
    print("not a prime number")
elif n>1:
    for i in range(2,n):
        if n%i==0:
            print(n,"not a prime number")
            break
    else:
            print(n,"prime number")
else:
    print(n,"not a prime number")

In [246]:
#Count How Many Times a Digit Appears in a Number
a=33453339
count=0
for i in str(a):
    if i=='3':
        count +=1
print(count)

5

In [247]:
# Remove Duplicates from a List (without using set)
numbers = [2, 4, 5, 2, 4, 6, 7, 5]
unique=[]
for i in numbers:
    if i not in unique:
        unique.append(i)
print(unique)

[2, 4, 5, 6, 7]

In [ ]:
# pattern printing questions
# i always tells us about the movement 
#j always tells us about will always print and always change in j for all kind of question

In [302]:
#square
n=5
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [271]:
#right angle triangle
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [278]:
#inverted right triangle
#1st->5(n)-0(n)=5, 5(n)-1(i)=4
n=5
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [28]:
#left angle triangle
n=5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
            print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [422]:
#inverted left angle trianle 
n=5
for i in range(n):
    for j in range(i):
        print(" ",end=" ")
    for j in range(n-i):
          print("*",end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [314]:
n=5
for i in range(n):
        for j in range(1,6):
            print(j,end=" ")
        print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [358]:
 for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [423]:
n=5
for i in range(1,6):
    for j in range(1,n-i+2):
        print(j,end="")
    print()

12345
1234
123
12
1

In [349]:
n=5
for i in range(1,5):
    for j in range(1,n):
        print(i,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [356]:

for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [366]:
for i in range(1,6):
    for j in range(5,5-i,-1):
        print(j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [37]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [51]:
#loop don't have as such as overlapping
#pyramid 
n=5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(2*i+1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [74]:
#we solve this questioon in chunks
#first for loop is for printing space 
#second for loop is for priting *
#third for loop is for print left star as we are assuming that this inverted pyramidd is made up one inverted left angle triangle and
#one inverted right anfle triangle so this last for loopis to print inverted right angle traiangle
n=5
for i in range(n):
    for j in range(i):
        print(" ",end=" ")
    for j in range(n-i):
        print("*",end=" ")
    for j in range(n-i-1):
        print("*",end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [30]:
n=int(input("enter a number"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(2*i+1):
        print(chr(65+j),end=" ")
    print()

enter a number 6

          A
        A B C
      A B C D E
    A B C D E F G
  A B C D E F G H I
A B C D E F G H I J K

In [69]:
#for diamond we combine two programs
#for uppar part we definr a variable then write a program for pyramid
#for lower part we define a variable k and then write a program for inverted pyramid
n=5

for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(2*i+1):
        print("*",end=" ")
    print()
k = 5
for i in range(k):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(k-i-2):
        print("*",end=" ")
    for j in range(k-i-1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [74]:
n=5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(2*i+1):
        print("*",end=" ")
    print()
k=5
for i in range(k):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(k-i-2):
        print("#",end=" ")
    for j in range(k-i-1):
        print("$",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  # # # $ $ $ $
    # # $ $ $
      # $ $
        $

In [92]:
# some imp methods of strings that we will use in program
a="amit"
print(a.title())

#capitalise first letter

Amit

In [93]:
print(ord("A")) #it will print the ascii value of a character
print(chr(68)) #it will print on 68th colomn what ascii value is there

65
D

In [95]:
a="welcomr to bhopal"
a.title()
#capatalise all the first word

'Welcomr To Bhopal'

In [97]:
a="welcomr to bhopal"
a.upper()
#capatalise complete string

'WELCOMR TO BHOPAL'

In [99]:
a="welcomr to bhopal"
a.lower()
#lowers all word

'welcomr to bhopal'

In [102]:
a="welcomr to bhopal"
a.capitalize()
#only capital first letter of string

'Welcomr to bhopal'

In [105]:
s="welcome123"
print(s.isalpha()) #give true only when complete string contain alphabet
print(s.isdigit()) #gives true only when complete string contain digit
print(s.isalnum()) #checks for a string which contains both number and alphabet mixture and it will give true for all wheather digit,number and combination of both

False
False
True

In [106]:
#gives count of particular thing given in the like 'a' will give count of a in string
a="aryan"
print(a.count('a'))

2

In [19]:
s="welcome to bhopal"
print(s.replace("o","a",2)) #will replace o to a but as 2 is defined so will work only on 2 element we can increase or decrease that value
print(s.replace(" ",""))
print(s.replace("welcome","swagat",1))
print(s)

welcame ta bhopal
welcometobhopal
swagat to bhopal
welcome to bhopal

In [109]:
# index will only work on ekement which is ordered but find will work on element which is not ordered
s="welcome to bhopal"
print(s.find("o"))
print(s.index("o"))

4
4

In [110]:
#while loop 
i=0
n=int(input("enter a number"))
while i<=n:
    print(i,"no of times loop runs",end=" | ")
    i=i+1
print(i,"is the final value of loop")

enter a number 5

0 no of times loop runs | 1 no of times loop runs | 2 no of times loop runs | 3 no of times loop runs | 4 no of times loop runs | 5 no of times loop runs | 6 is the final value of loop

In [4]:
i=0
sum=0
while i<10:
    sum=sum+i
    i=i+1
print(sum)

45

In [11]:
#reverse
num=10
while num>=1:
    print(num)
    num -=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
n=int(input("enter a number"))
while n>0:
    print(i)
    n -=1

In [17]:
#factorial
num=5
factorial=1
while num>0:
    factorial *=num
    num -=1
print(factorial)

120

In [17]:
#fetching max from a given list whose initially the first value is max
a=[10, 20, 30, 50, 60, 789576567998766,203,4978]
max_element=a[0]
for i in a:
    if i>max_element:
        max_element=i
print(max_element)

789576567998766

In [20]:
#min
a=[67,10, 20, 30, 50, 60, 789576567998766,203,4978]
min_element=a[0]
for i in a:
    if i<min_element:
        min_element=i
print(min_element)

10

In [15]:
#average
a=[67,10, 20, 30, 50, 60, 789576567998766,203,4978]
sum=0
length=len(a)
for i in a:
    sum +=i
    average=sum/length
print(average)

87730729778242.67

In [15]:
#wap to count no of string from a given list of string.the string length is more than 2 or more and first and last character are same
#expected result = 2
l=['abc','xyz','aba','1221']
length=len(l)
count=0
for i in l:
    if length>2:
        if i[0]==i[-1]:
            count +=1
print(count)

2

In [7]:
#pogram for ascending
l=[100,1,200,19]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]           
print(l)

[1, 19, 100, 200]

In [8]:
#PROGRAM FOR DECENDING
l=[100,1,200,19]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]<l[j]:
            l[i],l[j]=l[j],l[i]
print(l)

[200, 100, 19, 1]

In [4]:
a=["red",'yellow','green','red']
d={}
for i in a:
    if i in d:
        d[i] +=1
    else:
        d[i]=1
print(d)

{'red': 2, 'yellow': 1, 'green': 1}

In [28]:
l=[0,1,2,3,4,5]
d={}
for i in l:
    d[chr(65+i)]=i*i
print(d)

{'A': 0, 'B': 1, 'C': 4, 'D': 9, 'E': 16, 'F': 25}

In [10]:
# functions 
# use in error handling
# because of functions redundency gets reduced and reusability gets increased
# type 1- with argument with return type
def max_2(a,b):
    if a>b:
        return a
    else:
        return b
max_2(10,20)

20

In [11]:
def max_3(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c
max_3(10,20,30)

30

In [49]:
#type 2  with argument without return type
def prime(a):
    if a==0 or a==1:
        print("not a prime")
    elif a>1:
        for i in range(2,a):
            if a%i==0:
                print(a,"not a prime number")
                break
        else:
            print(a,"prime number")
    else:
        print(a,"not a prime number")
prime(9)

9 not a prime number

In [61]:
# type 3 without argument without return type
def fibo():
    a=0
    b=1
    n=int(input("enter a number"))
    print(a,b,end=' ')
    for i in range(2,n):
        c=a+b
        print(c,end=" ")
        a=b
        b=c
fibo()

enter a number 5

0 1 1 2 3

In [84]:
#faactorial with function
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact *= i
    return fact
print(factorial(5))

120

In [4]:
#Write a function that counts vowels in a string.
def count_vowel(s):
    vowel="aeiou"
    count=0
    for i in s:
        if i in vowel:
            count +=1
    return count
print(count_vowel("hello world"))

3

In [4]:
#pallindrome with function
def pallindrome(s):
    return s==s[::-1]
print(pallindrome("madam"))

True

In [26]:
#recursion function when function call itself within a function
def sum(n):
    if n==1:
        return n
    else:
        return n+sum(n-1)
sum(3)

6

In [29]:
def fct(n):
    if n==1:
        return n
    else:
        return n*fct(n-1)
fct(5)

120

In [33]:
# functions using own functions
def max_2(a,b):
    if a>b:
        return a
    else:
        return b
def max_3(a,b,c):
    if c>max_2(a,b):
        return c
    else:
        return max_2(a,b)
max_3(10,20,30)

30

In [36]:
#types of arguments
#1- keyword argument 
def person(name,age):
    print(name)
    print(age-5)

person(28,'navin')
#this will always show error as we cannot subtract age with anything for that we need to use keyword argument

28
navin

In [39]:
#keyword argument correct code
def person(name,age):
    print(name)
    print(age-5)

person(age=32,name='navin')

navin
27

In [43]:
#type 2- Default argument
def person(name,age=18):
    print(name)
    print(age)

person('navin')
# if we want to create a prgram for voting age and we don't want to show age thren we can set the default age =18

navin
18

In [45]:
#but if we pass the age when we call the function then it will overwrite the default parameter
def person(name,age=18):
    print(name)
    print(age)

person('navin',28)

navin
28

In [47]:
#variable length argument 
#used when we want to take multiple vlues 
# denoted by *

def sum(a, *b):
    c=a
    for i in b:
        c +=i
    print(c)
sum(10,20,30

60

In [51]:
#Keyworded Variable Length Arguments
def person(name, **data):
    print(name)
    print(data)
person('navin',age=29,city='mumbai',mob=65974164)

navin
{'age': 29, 'city': 'mumbai', 'mob': 65974164}

In [53]:
#anonymous function lambda
f= lambda a:a*a
b=f(5)
print(b)

25

In [59]:
f= lambda a,b:a+b
b=f(9,1)
print(b)

10

In [61]:
#high order function-1(filter),2(map),3(reduce)
#filter function without lambda
#filter as the name suggest does the filteration of the thing given to it
#filter always take two arguments first if function(or name of funtion),second varibale in which operation is to be performed)

def is_even(n):
    return n%2==0
num=(2,3,4,5,6,7,8,8,9)
even= list(filter(is_even,num))
print(even)

[2, 4, 6, 8, 8]

In [62]:
#filter witth lambda
num=(2,3,4,5,6,7,8,8,9)
even=list(filter(lambda n:n%2==0,even))
print(even)

[2, 4, 6, 8, 8]

In [67]:
#map function is used when we want to operate on  every value
#map without lambda
#from a list we fiter out even and double it
def update(n):
    return n*2
num=(2,3,4,5,6,7,8,8,9)
even=list(filter(lambda n: n%2==0,even))
doubles=list(map(update,even))
print(doubles)

[4, 8, 12, 16, 16]

In [4]:
#map with lambda
num=(2,3,4,5,6,7,8,8,9)
even=list(filter(lambda n:n%2==0,num))
double=list(map(lambda n:n*2,even))
print(double)

[4, 8, 12, 16, 16]

In [6]:
#reduce with lambda
#reduce also takes two value
num=(2,3,4,5,6,7,8,8,9)
even=list(filter(lambda n:n%2==0,num))
double=list(map(lambda n:n*2,even))
na=reduce(lambda a,b:a+b,double)
print(na)

56

In [8]:
#decorater 
#decoraters take a function apply some more function to it and eventually returns a function
#example we create a program of dividing two number but division will only happen with numerator is greater than denominator 
def div(a,b):
    print(a/b)

def smart_div(function):
    def inner(a,b):
        if a<b:
            a,b=b,a
        return function(a,b)
    return inner

div=smart_div(div)
div(3,6)

2.0

In [13]:
#class and object 
#class is a blueprint of object
#object is a real world entity
#methods in class is nothing but a function

class computer:
    def config(self):
        print('1tb intel1 512gb')
com1=computer() #creating object
com2=computer() #creating object
com1.config()
com2.config()

1tb intel1 512gb
1tb intel1 512gb

In [ ]:
#constructor 
# __init__- all classes have a function called __init__ which is always executed when object is initiated
# "self" the self parameter is the reference to the current instance of class and is used to access variable that belongs to the class.
# there are two types of constructor - 1- default constructor 2- parameterized constructor

In [ ]:
# default constructor only has self in it no other parameter
def __init__(self):
    print("default constrcutor")

# paramaterized construtor has paramters with self like
def __init__(self,name,class):
    self.name=name
    self.class=class

In [ ]:
#Attributes-it is data items like in above example name,class is attribute


# the data which we know would we different for each data(like if we have a class named as student and er have multiple student so
# we know each student will have different name so such we define these types of data as "self." always.
# these types of attributes are called instance attribute


# and when we have a common data with every object then that is called as class attribute.

#object attribute will always have higher precedence than class attribute

In [14]:
#Create a class Student with attributes name and age. Create an object and print details.
class student:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def display(self):
        print("name",self.name)
        print('age',self.age)
a=student('aman',25)
a.display()

name aman
age 25

In [24]:
#Create a class Rectangle that calculates the area of a rectangle.
class rectangle:
    def __init__(self,l,b):
        self.l=l
        self.b=b
    def area(self):
        print("area of rectangle= ",self.l*self.b)
a=rectangle(10,10)
a.area()

area of rectangle=  100

In [3]:
#Create a class Person that stores name and city. Add a method to print a greeting.
class person:
    def __init__(self,name,city):
        self.name=name
        self.city=city
    def greeting(self):
        print("hello",self.name,"welcome to",self.city)
a=person('aman','bhopal')
a.greeting()

hello aman welcome to bhopal

In [9]:
#Create a class Book with attributes title and author. Print book details using a method.
class book:
    def __init__(self,title,author):
        self.title=title
        self.author=author
    def detail(self):
        print("name of the book is ",self.title)
        print("author of the book is",self.author)
a=book("heaven","rishi")
a.detail()

name of the book is  heaven
author of the book is rishi

In [15]:
#Create a class Calculator with methods add, subtract, multiply, divide.
class clac:
    def add(self,a,b):
        return a+b
    def sub(self,a,b):
        return a-b
    def mul(self,a,b):
        return a*b
    def div(self,a,b):
        if b==0:
            print("invalid")
        else:
            return a/b
c=clac()
print(c.add(9,9))
print(c.sub(9,9))
print(c.mul(9,9))
print(c.div(9,9))

18
0
81
1.0

In [24]:
#Create a class Student with marks of 3 subjects. Add a method to calculate average marks.
class student:
    def __init__(self,maths,hindi,eng):
        self.maths=maths
        self.hindi=hindi
        self.eng=eng
    def avg(self):
        return (self.maths+self.hindi+self.eng)/3
c=student(80,90,70)
print(c.avg())

80.0

In [37]:
#Create a class Student where each student has marks in subjects. Add a method to calculate grade (>=90: A, >=75: B, >=50: C, else Fail).
class student:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def grade(self):
        average=(self.a+self.b+self.c)/3
        
        if average>=90:
            print("A",average)
        elif average>=75:
            print("B",average)
        elif average>=50:
            print("C",average)
        else:
            print("fail",average)

result=student(25,10,47)
result.grade()

fail 27.333333333333332

In [146]:
#methods- these are the functions that belongs to an object
# class method- whatever we used till now(with self) is called as class method
# static method- this is declared outside of any object,don't use any self and is direcctly accessible as written directly to class 
# access by firstly declaring '@staticmethod' and then writing any function in it.
class student:
    @staticmethod #decorator
    def hello():
        print('hello')
obj=student()
obj.hello()

hello

In [ ]:
##Encapsulation is the process of binding data (variables) and methods (functions) into a single unit (class) and restricting direct access to the data.
# It is a way to protect variables from being directly modified outside the class. 
# In Python, we achieve encapsulation by making variables private (prefix with __).
# Example: self.__balance = 5000

In [42]:
class Person:
    def __init__(self):
        self.__age = 0   # private variable

    def set_age(self, age):
        self.__age = age   # setter method

    def get_age(self):
        return self.__age  # getter method

# Test
p = Person()
p.set_age(20)        # setting value
print(p.get_age())

20

In [44]:
# Q1. Create a class Person with a private variable __age.
# Set age using a method.
# Get age using another method.
class Person:
    def __init__(self):
        self.__age = 0   # private variable

    def set_age(self, age):
        self.__age = age   # setter method

    def get_age(self):
        return self.__age  # getter method

p = Person()
p.set_age(20)        # setting value
print(p.get_age())   #getting value

20

In [45]:
#Create a class Car with a private variable __speed.
#Set speed using a method.
#Get speed using another method.
class car:
    def __init__(self):
        self.__speed=0
    def set_speed(self,speed):
        self.__speed=speed
    def get_speed(self):
        return self.__speed

a=car()
a.set_speed(80)
print(a.get_speed())

80

In [46]:
'''Create a class Box with a private variable __color.
Assign color with a setter.
Show color with a getter.'''
class box:
    def __init__(self):
        self.__color=''
    def set_color(self,color):
        self.__color=color
    def get_color(self):
        return self.__color
b=box()
b.set_color('blue')
print(b.get_color())

blue

In [49]:
#Slightly Harder Encapsulation Questions
'''Create a class Person with private variable __age.
Age cannot be negative.
If user tries to set negative age, show error.'''

class person:
    def __init__(self):
        self.__age=0
    def set_age(self,age):
        if age<=0:
            print("age cannot be negative")
        else:
            self.__age=age
    def get_age(self):
        return self.__age
a=person()
a.set_age(125)
print(a.get_age())

125

In [58]:
#. Create a class BankAccount with private variable __balance.
#Balance cannot be negative.
#Deposit and withdraw should update balance safely.
class bankaccount:
    def __init__(self):
        self.__balance=0
    def deposite(self,amount):
        if amount>0:
            self.__balance +=amount
        else:
            print("invalid amount")
    def withdraw(self,amount):
        if 0<amount<=self.__balance:
            self.__balance -=amount
        else:
            print("invalid amount")
    def get_balance(self):
        return self.__balance

a=bankaccount()
a.deposite(1000)
print(a.get_balance())
a.withdraw(500)
print(a.get_balance())

1000
500

In [75]:
class Ticket:
    def __init__(self, passenger, seat_no, price):
        self.__passenger = passenger
        self.__seat_no = seat_no
        self.__price = price

    def final_price(self):
        if self.__seat_no > 50:
            return self.__price * 0.8  # 20% discount
        return self.__price

    def get_details(self):
        return f"Passenger: {self.__passenger}, Seat: {self.__seat_no}, Price: {self.final_price()}"

# Test
t1 = Ticket("Ali", 45, 2000)
t2 = Ticket("Amaan", 60, 2000)
print(t1.get_details())
print(t2.get_details())

Passenger: Ali, Seat: 45, Price: 2000
Passenger: Amaan, Seat: 60, Price: 1600.0

In [81]:
'''Airline Ticket System
Create a Ticket class:
Private vars: __passenger, __seat_no, __price.
Rule:
If seat_no > 50 â†’ give 20% discount.
Otherwise no discount.'''
class ticket:
    def __init__(self,passenger,seat_no,price):
        self.__passenger=passenger
        self.__seat_no=seat_no
        self.__price=price
    def discount(self):
        if self.__seat_no>50:
            return self.__price*0.8
            return self.__price
        else:
            return self.__price
    def detail(self):
         return f"Passenger: {self.__passenger}, Seat: {self.__seat_no}, Price: {self.discount()}"

a=ticket('ali',65,2000)
print(a.detail())

Passenger: ali, Seat: 65, Price: 1600.0

In [160]:
#public and private class 
# public class is simply which is assecible even outside of the class 
# but tprivate clas cannot be access outside of the class created by double underscore __
class name:
    __name="annoynamous"
p1=person()
print(p1.__name)
# if we can never access it then why do we create private class so the answer is because sometimes functioj internally have to use a
# private function that's why we use it.

AttributeError: 'person' object has no attribute '__name'

In [ ]:
# Inheritance means one class (child/derived class) can use the properties and methods of another class (parent/base class).
#ðŸ‘‰ It helps in code reusability and makes programs more structured.
# 1- single
# 2- multi-level 
# 3- multiple 
# 4- hirarical 
# 5- hybrid

In [92]:
#single inheritance 
class A:
    def show(self):
        print("hello this is class A")
class B(A):
    def display(self):
        print("hello this is class B")

obj=B()
obj.display()
obj.show()

hello this is class B
hello this is class A

In [89]:
class Animal:
    def speak(self):
        print("This is an animal")

class Dog(Animal):   # inherits Animal
    def sound(self):
        print("Dog barks")

# Test
d = Dog()
d.speak()  # from parent
d.sound()

This is an animal
Dog barks

In [93]:
#multiple- child acquire property from more than one parents

class father:
    def father_traits(self):
        print("hardworking")
class mother:
    def mother_traits(self):
        print("intellactual")
class child(father,mother):
    def child_traits(self):
        print("intelligent and hardworking")
a=child()
a.father_traits()
a.mother_traits()
a.child_traits()

hardworking
intellactual
intelligent and hardworking

In [94]:
#multilevel-Inheritance chain (grandparent â†’ parent â†’ child).
class grandparent:
    def grandparant_property(self):
        print("own land")
class parent(grandparent):
    def parent_property(self):
        print("owns car")
class child(parent):
    def  child_property(self):
        print("owns laptop")

a=child()
a.grandparant_property()
a.parent_property()
a.child_property()

own land
owns car
owns laptop

In [97]:
#hirarical - One parent class, multiple child classes.
class a:
    def show(self):
        print("hello a")
class b(a):
    def show(self):
        print("hello b")
class c(b):
    def show(self):
        print("hello c")
class d(c,b,a):
    def showd(self):
        print("hello D")

obj=d()
obj.show()

hello c

In [ ]:
#hybried- more than two method of inhertiance is used 
##it has daimond problem(method resolution problem (mro) solve by polymorphism)

In [138]:
#ploymorphysm 
# thiss means when same operator is allowed to have different meaning according to contex
#like (1+2=3) ("hello" + "world"=helloworld) ([1,2,3] + [4,5,6]=[1,2,3,4,5,6]) same "+" operator have different meaning in different contex 
# calling with function
class A:
    def show(self):
        print("hello this is class A")
class B:
    def show(self):
        print("hello this is class B")

class C:
    def show(self):
        print("hello this is class C")
        
def show_data(data):
    data.show()
obj1=A()
obj2=B()
obj3=C()
show_data(obj1)
show_data(obj2)
show_data(obj3)

hello this is class A
hello this is class B
hello this is class C

In [139]:
# polymorphysm with obj
class A:
    def show(self):
        print("hello this is class A")
class B:
    def show(self):
        print("hello this is class B")

class C:
    def show(self):
        print("hello this is class C")
obj=[A(),B(),C()]
for i in obj:
    i.show()

hello this is class A
hello this is class B
hello this is class C

In [141]:
#Abstraction
#to hide the background functionality and only show the relevent data
# we can never crete object on an abstract class 
#Abstraction -> Abstract class 
# to create the abstract we need to import abstractmethod always

from abc import ABC,abstractmethod
class RBI(ABC):
    @abstractmethod
    def fd(self):
        pass
class SBI(RBI):
    def fd(self):
        print('7% interest rate')
class UNION(RBI):
    def fd(self):
        print('6% interest rate')

obj= SBI()
obj1= UNION()
obj.fd()
obj1.fd()

7% interest rate
6% interest rate

In [143]:
from abc import ABC,abstractmethod
class RBI(ABC):
    @abstractmethod
    def fd(self):
        pass
    def bank(self):
        print('hello this is RBI')
              
class SBI(RBI):
    def fd(self):
        print('7% interest rate')
    def bank(self):
        print('hello this is RBI')
        super().bank()
class UNION(RBI):
    def fd(self):
        print('6% interest rate')

obj= SBI()
obj1= UNION()
obj.bank()
obj1.bank()

hello this is RBI
hello this is RBI
hello this is RBI